<!DOCTYPE HTML>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/navbar.ejs %>
    <div class="container">
      <div class="jumbotron my-4">
          <h1 class="display-3">The StravNator</h1>
          <p class="lead">An application for users to generate Strava activity names.</p>
          <p><small>Login or Register with:</small><p>
          <a href="/auth/strava" class="btn btn-style"><span class="fab fa-strava"></span> Strava</a>
      </div>
    </div>
    <% include ./partials/baseScripts.ejs %>
  </body>
</html>
