<!doctype html>
<html>
  <head>
      <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/navbar.ejs %>
    <div class="container">
      <div class="jumbotron my-4 jumbo-dashboard">
          <h2><%= user.name %>'s Dashboard</h2>
          <div class="row">
            <div class="col-sm-12">
              <p>
                <strong>Strava ID</strong> <%= user.stravaId %><br>
                <strong>Name</strong> <%= user.name %>
              </p>
            </div>
          </div>
      </div>
    </div>
    <% include ./partials/baseScripts.ejs %>
  </body>
</html>
